<!DOCTYPE html>
<html lang="en">
  {% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/media.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <!-- nav bar -->
    <nav>
        Navigation Bar
        <a href="{% url 'user_home' %}">Home</a>
        <nav>
            <strong>User Panel</strong>
            <a href="user_dashboard.html">My Dashboard</a> |
            <a href="book_search_results.html">Search Books</a> |
            <a href="{% url 'wishlist' %}">Wishlist</a> |
            <a href="{% url 'all_books'%}">Want to Read</a> |
            <a href="{% url 'currently_read' %}">Currently Reading</a>|
            <a href="{% url 'already_read' %}">Already Read</a> |
            <a href="{% url 'logout' %}">Logout</a>
            <hr>
        </nav>
        <hr>
    </nav>
    

    <p>
    </p>

    <main>
        <button id="theme-toggle">(Light/Dark)</button>
    </main>
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'js/index.js' %}"></script>
</body>

</html>