<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/media.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% block extra_head %}
    {% endblock extra_head%}
</head>

<body {% block body_attributes %} {% endblock%}>

    {% block navbar %}
    {% endblock navbar %}

    {% block content %}
    {% endblock content %}

    

    {% include 'parts/footer.html' %}
    {% include 'parts/settings.html' %}

    {% block extra_content %}
    {% endblock extra_content%}
</body>

</html>