@media (min-width: 576px) {

    .category-container {
    gap: 10px;
  }
  
  .category-card {
    padding: 15px;
  }

  .icon {
    font-size: 24px; 
  }

  .book-card{
    width: calc(50% - 1.5rem); 
  }

}

@media (min-width: 768px) {

  .book-card{
    width: calc(33.33% - 1.5rem);
  }
}

@media (min-width: 992px) {

    .book-card{
    width: calc(20% - 1.5rem);
  }
}

@media (min-width: 1200px) {
    
}
